 <footer class="bg-dark py-4">
        <div class="container">
            <span class="text-muted">Copyright &copy; WALI ULLAH </span><br />
            <span class="text-muted"> Developed by WALI ULLAH</span>
        </div>
    </footer>